.layoutGroup {
  container-type: inline-size;

  .layoutButtonWrapper {
    column-count: 1;
    column-gap: 20px;
    column-fill: balance;
  }

  @container (min-width: 340px) {
    .layoutButtonWrapper {
      column-count: 2;
    }
  }
  @container (min-width: 580px) {
    .layoutButtonWrapper {
      column-count: 3;
    }
  }
  @container (min-width: 860px) {
    .layoutButtonWrapper {
      column-count: 4;
    }
  }
  @container (min-width: 1180px) {
    .layoutButtonWrapper {
      column-count: 5;
    }
  }
  @container (min-width: 1420px) {
    .layoutButtonWrapper {
      column-count: 6;
    }
  }
  @container (min-width: 1660px) {
    .layoutButtonWrapper {
      column-count: 7;
    }
  }
}
