@font-face {
    font-family: 'Dosis-Bold';
    src: local('Dosis-Bold'), url(../shared/style/Dosis-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-Regular';
    src: local('Noto-Sans-Regular'), url(../shared/style/Noto-Sans-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: Dosis-Bold, sans-serif;
    font-size: 16px;
    color: #b8b9b9;
}

p {
    font-family: Noto-Sans-Regular, serif;
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1c222a;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #163136;
}
