@font-face {
  font-family: 'Dosis-Bold';
  src: local('Dosis-Bold'), url(font/Dosis-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto-Sans-Regular';
  src: local('Noto-Sans-Regular'), url(font/Noto-Sans-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: Dosis-Bold, sans-serif;
  font-size: 16px;
  color: #b8b9b9;
}

p, ul, ol {
  font-family: Noto-Sans-Regular, serif;
  font-size: 14px;
  padding: 5px 0;

  b {
    font-size: 16px;
    font-family: Dosis-Bold, sans-serif;
    font-weight: normal;
  }
}

ul, ol {
  margin: 5px 0;
  padding-inline-start: 25px;
}

hr {
  margin: 8px;
  padding: 0;
}

h1 {
  text-shadow: 0 0 3px black;
}

h2 {
  font-size: 24px;
  padding: 0;
  margin: 12px 0;
  text-shadow: 0 0 3px black;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 0;
  margin: 8px 0;
}

p {
  margin: 5px 0;
}

img {
  margin: 5px 0;
  border-radius: 8px;
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;

  i {
    font-weight: normal;
  }
}

fieldset {
  margin: 8px 0;
  padding: 0 10px 8px 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;

  legend {
    padding: 0 10px;
  }

  :disabled {
    filter: saturate(0%);
  }
}

span.grey {
  color: dimgrey;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c222a;
  border-radius: 8px;
  cursor: grab;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #163136;
}
